{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h2>Customer List</h2>

    <a class="btn btn-primary mb-2" href="{% url 'customer_create' %}">Add Customer</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ customer.user.username }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url 'customer_update' pk=customer.pk %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'customer_delete' pk=customer.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
